.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;

}
.price{
    color:#FF136f;
}
.link-button{
    background-image: linear-gradient(to bottom, red, tomato);
    border:none;
    border-radius: 5px;
    color:#fff;
    padding: 9px 25px;
    cursor: pointer;

}

