.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;

}
.price{
    color:#FF136f;
}
.link-button{
    background-image: linear-gradient(to bottom, red, tomato);
    border:none;
    border-radius: 5px;
    color:#fff;
    padding: 9px 25px;
    cursor: pointer;

}
.dog1 , .dog2, .dog3{
    padding: 10px 30px;
    border-radius: 10px;
}
.dog1{
    background-color: yellow;
    
}

.dog2{
    background-color: orange;

}
.dog3{
    background-color: blue;
    
} 

 .categories h1{
     color:#fff;

 }
.categories img{
    width:100px;
}
.card{
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
 .card-footer{
    background-color: #fff;
     border-top:none;
 }
 #Subscribe{
     height:300px;

 }
 #Subscribe h6{
     color:gray;
 }

 .copy{
     text-align: center;
 }